<!-- <div class="row justify-content-start">
    <div class="col-4">
        <a href="../icscard-one/icscard-one.component.html"> 
        <button type="button" class="buttonback">
            <p class="fontback"> back </p>
        </button></a>
    </div>
</div> -->
<div class="container bg-card" >
    <div class="row justify-content-around">
        <div class="col-6">
            <div class="card" >
                <img src="" class="card-img-top" alt="...">

                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">Addres : them........</p><br>
                    <p class="card-text">Oening : them.........</p>
                    <!-- <p class="card-text">Addres : {{formData.address}}</p><br>
                    <p class="card-text">Oening : {{formData.operation_time}}</p> -->
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card  card-1 ">
                <h5 class="card-title">Images</h5>
                <img src="" class="card-img-top" alt="...">
              </div>
        </div>
    </div>
</div>