<div class="row justify-content-between search-content">
    <div class="col-sm-7">
        <p class="h5-medium">Place List</p>
    </div>
    <div class="col-sm-2">
        <!-- <input type="email" class="search2" id="search2" placeholder="Restaurent"> -->

        <select class="form-select form-select-sm search2" aria-label=".form-select-sm example">
            <option selected>Restaurent</option>
            <option value="1">..</option>
            <option value="2">..</option>
            <option value="3">..</option>
        </select>

    </div>
    <div class="col-sm-2">
        <input type="email" class="search1 " id="search1" placeholder="Search name...">
    </div>
</div><br><br>


<ng-container>
    <div class="row">
        <div class="card " *ngFor="let rest of resTs">
            <div class="row ">
                <div>
                    <table class="table">
                        <tbody>
                            <tr class="">
                                <th scope="row">
                                    <div class="img-card-t">
                                        <img class="img-main " src="{{rest.profile_image_url}}" alt="" type="button"
                                             data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                    </div>
                                </th>
                                <td>
                                    <p class="text-name text-card">{{rest.name}}</p>
                                    <p class="text-time">10:00 AM - 6:00 PM
                                </td>
                                <td>
                                    <p class="rating">{{rest.rating}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="scop">
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <img class="img-main1" src="{{rest.images}}" alt="">
                        <img class="img-main2" src="{{rest.images}}" alt="">
                        <img class="img-main3" src="{{rest.images}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- -----------------------------template--------------------------------- -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria- labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <app-card-ics></app-card-ics>
            </div>
        </div>
    </div>
</div>